{% load staticfiles %}
<html>
    <head>
    <title>9 миллиардов имен бога</title>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
           <body>
        <div class="page-header">
            <h1><a href="/">Welcome in the hell</a></h1>
        </div>
        <div class="content container">
      <div class="row">
          <div class="col-md-8">
                  <div class="post">
                      <div class="date">
                          <p>Опубликовано: 08.11.2017, тайм?</p>
                      </div>
                      <h1><a href="">My first post</a></h1>
                      <p>8322 год. Я застрял на этой сраной планете, вот уже 2 года  вместе с моим напарником, роботом Джеродом, помогаю этому неблагодарному выродку, "мистеру Кудену".
                      Я выполняю большую часть работы на этой ферме, поскольку этот ублюдочный робот только пьет и курит сигареты "Red Apple", мог ли кто-то в прошлом предположить что роботы от слова "работа" будут такими?</p>
                  </div>
          </div>
      </div>
  </div>
           </body>

</html>
