<html>
    <head>
    <title>9 миллиардов имен бога</title>
    </head>
           <body>

        <div>
            <h1><a href="/">Welcome in the hell</a></h1>
        </div>

        <div>
            <p>published: 08.11.2017, тайм?</p>
            <h2><a href="">My first post</a></h2>
            <p>8322 год. Я застрял на этой сраной планете, вот уже 2 года  вместе с моим напарником, роботом Джеродом, помогаю этому неблагодарному выродку, "мистеру Кудену".
            Я выполняю большую часть работы на этой ферме, поскольку этот ублюдочный робот только пьет и курит сигареты "Red Apple", мог ли кто-то в прошлом предположить что роботы от слова "работа" будут такими?</p>
        </div>

        <div>
            <p>published: 731.00.8322, ??:???</p>
            <h2><a href="">Очень важно...</a></h2>
            <p>В мае 2017 года сервис вещания Netflix, совместно с компаниями Platige Image и Sean Daniel Company анонсировали сериал по мотивам саги «Ведьмак». Многосерийным фильмом займется режиссер Томаш Багиньский (номинант на оскар за короткометражный мультфильм «Собор» и автор вступительных роликов к играм «Ведьмак» и «Ведьмак 2: Убийцы королей»), а в качестве творческого консультанта в проекте будет участвовать сам создатель фэнтезийной вселенной - Анджей Сапковский. Дата выхода и исполнители главных ролей пока остаются в тайне. Единственное, что точно известно: сериал должен будет полностью передать атмосферу оригинальных книг, а по качеству стать сопоставимым с «Игрой престолов», а также «Викингами» и «Фарго».</p>
        </div>
           </body>

</html>
